<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        GMAP HOME
      </ion-title>
    </ion-navbar>
  </ion-header>
   
  <ion-content>
    <ion-card>
      <ion-card-content>
        <div #directionsPanel style="height:80%; width:100%"></div>
      </ion-card-content>
    </ion-card>
    <div #map id="map" style="height:80%; width:100%"></div>
    <button ion-button full primary (click)="selfTrack()">Where am I</button>
  </ion-content>